@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.firsttext {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #d79922;
  width: 415px;
  height: 40px;
  text-align: top;
}
.p1 {
  background-color: #d79922;
  width: 280px;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.secondtext {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #1A5F7A;
  width: 415px;
  height: 40px;
  text-align: top;
}

.p2 {
  background-color: #1A5F7A;
  width: 280px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.thirdtext {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: white;
  width: 500px;
  height: 40px;
  text-align: top;
  color: #632626;
}
.p3 {
  background-color: white;
  width: 280px;
  color: #632626;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


nav {
  position: relative;
  background-color: #FFF5E1;
}
.begin {
  height: 90px;
}
.container {
  padding-left: 10px;
}
nav {
  height: 100px;
}

.carousel-item {
  height: 83vh;
  min-width: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9;
}

.middle-container {
  height: 85vh;
  min-width: 350px;

}
.writeup {
  padding: 50px 0;
  text-align: center;
  color: #820E06;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.signup {
  text-align: center;
}
.image {
  height: 100px;
}

.footer-basic {
  padding:40px 0;
  background-color:#852747;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}
i {
  color: #FFD39A;
}

.list-inline {
  color: #FFD39A;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #FFD39A;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#FFD39A;
  margin-bottom:0;
}
.search-btn{
  position: relative;
  width: 800px;
  height: 60px;
  margin-left: 150px;
  padding: 15px;
  margin-right: 10px;
  font-size: 20px;
  background: #852747;
  border: 3px solid rgba(139, 139, 139, 0.57);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
.myButton {
	background-color:#852727;
	border-radius:28px;
	border:1px solid #852727;
	display:inline-block;
	cursor:pointer;
	color:#FFD39A;
	font-family:Georgia;
	font-size:17px;
	font-weight:bold;
	font-style:italic;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background-color:#8d0b34;
}
.myButton:active {
	position:relative;
	top:1px;
}
.hindi {
  text-align: center;
  font-size: 50px;
  padding-top: 100px;

}
.punchline {
  text-align: center;
  padding-top: 90px;
}
